<!DOCTYPE html>
<html>
<head>
    <title>搜索结果</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include './home/navbar.html' %}
    <div class="container">
        <h1 class="mt-4 mb-4">搜索结果</h1>

        <!-- 显示搜索结果 -->
        <div class="row">
            {% for blog in blogs %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title"><a href="{{ url_for('blog', blog_id=blog.blog_id) }}">{{ blog.title }}</a></h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">博客信息管理系统</span>
        </div>
    </footer>

    <!-- 引入 Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
