<!DOCTYPE html>
<html>
<head>
    <title>{{ blog.title }}</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% include './admin/navbar.html' %}
    <div class="container">
        {% include './admin/show_blog_content.html' %}
        {% include './admin/show_comments.html' %}
    </div>

    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container" style="text-align: center;">
            <span class="text-muted">博客信息管理系统</span>
        </div>
    </footer>
    
    <!-- 引入 Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
