<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('admin_home') }}">博客管理平台</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="navbar-text">欢迎，{{ session['adminname'] }}</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_login') }}">切换管理员</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}" onclick="sessionStorage.clear();">退出管理员模式</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('new_announcements') }}">发布公告</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_users') }}">用户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_blogs') }}">博客管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_comments') }}">评论管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_categories') }}">类别管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_tags') }}">标签管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_announcements') }}">公告管理</a>
            </li>
        </ul>
    </div>
</nav>
